@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@plugin "@toolwind/corner-shape";

@font-face {
  font-family: "Neue Montreal";
  src: url("@/assets/fonts/NeueMontreal-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("@/assets/fonts/NeueMontreal-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("@/assets/fonts/NeueMontreal-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("@/assets/fonts/NeueMontreal-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("@/assets/fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("@/assets/fonts/NeueMontreal-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("@/assets/fonts/NeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Montreal";
  src: url("@/assets/fonts/NeueMontreal-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  /* Base Styling */
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.141 0.005 285.823);
  --color-border: oklch(0.92 0.004 286.32);
  --color-muted: oklch(0.967 0.001 286.375);
  --color-muted-foreground: oklch(0.552 0.016 285.938);
  --color-ring: oklch(0.75 0.183 55.934);

  /* Fonts */
  --font-primary: "Neue Montreal", "Inter Tight", "Inter", sans-serif;
  --font-secondary: "Space Mono", monospace;

  /* Untuk Primary Colors */
  --color-primary-50: oklch(96.94% 0.017 50.44);
  --color-primary-100: oklch(91.57% 0.046 41.83);
  --color-primary-200: oklch(84.33% 0.092 45.55);
  --color-primary-300: oklch(77.89% 0.139 46.57);
  --color-primary-400: oklch(71.51% 0.187 42.52);
  --color-primary-500: oklch(65.59% 0.233 34.52);
  --color-primary-600: oklch(55.6% 0.195 34.9);
  --color-primary-700: oklch(45.14% 0.156 35.55);
  --color-primary-800: oklch(34.04% 0.114 36.87);
  --color-primary-900: oklch(22.01% 0.068 41.04);

  /* Secondary Colors */
  --color-secondary-50: oklch(96% 0.021 241.35);
  --color-secondary-100: oklch(88.74% 0.063 237.02);
  --color-secondary-200: oklch(81.93% 0.104 237.47);
  --color-secondary-300: oklch(75.54% 0.14 240.24);
  --color-secondary-400: oklch(70.22% 0.168 244.31);
  --color-secondary-500: oklch(66.02% 0.188 250.18);
  --color-secondary-600: oklch(56.01% 0.158 249.8);
  --color-secondary-700: oklch(45.53% 0.126 249.19);
  --color-secondary-800: oklch(34.66% 0.091 247.12);
  --color-secondary-900: oklch(22.57% 0.054 242.87);

  /* Animation */
  --animate-walking-card: walking-card 100s linear infinite;
  --animate-walking-card-reverse: walking-card-reverse 100s linear infinite;

  @keyframes walking-card {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes walking-card-reverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@layer base {
  *,
  ::before,
  ::after {
    border-color: var(--color-border);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-primary);
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
